@import 'src/styles/colors';

.taxonomy-filter-wrapper {
  background: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 5px;

  ::ng-deep {
    .mat-list-base {
      padding-bottom: 8px !important;
      max-height: 400px;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #3F9CF4;
        cursor: pointer;
      }

      &::-webkit-scrollbar-track {
        background-color: #e4e4ed;
      }
    }
    mat-list-item {
      height: 40px;
    }
    .mat-list-item-content {
      padding: 0 24px;
    }

    .mat-checkbox-checked {
      .mat-checkbox-inner-container {
        .mat-checkbox-background {
          background-color: $tp-dark;
        }
      }
    }
    .mat-checkbox-inner-container {
      width: 18px;
      height: 18px;
      border-radius: 4px;
    }
    .mat-checkbox-label {
      font-family: "Public Sans" !important;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.02em;
      color: #41495F;
    }

    .mat-list-text {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #0C1D4A;

      opacity: 0.5;
    }
  }
}
