<div class="searches-preview" *ngIf="searches.length > 0 && !loading">
    <ul class="overflow">
        <li *ngFor="let item of searches; index as i" (click)="onClickSetText(item)"> {{ item }} </li>
    </ul>
</div>
<div class="searches-preview" *ngIf="searches.length == 0 && !loading">
    <ul class="overflow">
        <li> No previous searches </li>
    </ul>
</div>
<div class="searches-preview searches-preview--loading" *ngIf="searches.length > 0 && loading">
    <div class="wrapper">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>