<ui-data-filters>
  <form [formGroup]="formGroup" autocomplete="off">
    <!-- <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="onboardingStatus" multiple>
        <mat-option
          *ngFor="let status of onboardingStatuses | keyvalue"
          [value]="status.key">
          {{status.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>TP Admin Owner</mat-label>
      <mat-select formControlName="adminReviewer" multiple>
        <mat-option
          *ngFor="let admin of admins"
          [value]="admin">
          {{admin}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <div class="pull--right">
      <mat-form-field>
        <input formControlName="search" matInput placeholder="Search">
      </mat-form-field>
    </div>
  </form>
</ui-data-filters>
