@import 'colors.scss';

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100%;
  margin: 0px -24px;
}

.modal-title {
  color: $tp-purp;
  margin-left: 24px;
  margin-top: -4px;
  text-align: center;
}

ui-page-close {
  position: absolute;
  top: 8px;
  right: 8px;
}
