@import 'colors.scss';

.logo {
  height: 100%;
}

.slider {
  //display: flex;
  display: none;
  align-items: center;
  height: 100%;

  .slider-container {
    margin-left: 4rem;
    width: 580px;

    .slider-btn-container {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 0;

      .dot-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .dot {
          position: relative;
          height: 0.375rem;
          width: 0.375rem;
          margin-right: 0.5rem;
          border-radius: 50%;
          background: $tp-white;
        }

        .dot.active {
          position: relative;
          margin-right: 0.5rem;
          height: 1rem;
          width: 1rem;
          background: rgba(63, 156, 244, 0.24);
        }

        .dot.active::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          height: 0.5rem;
          width: 0.5rem;
          background: $tp-white;
        }
      }

      .previous {
        padding-right: 8px;
        cursor: pointer;
      }

      .next {
        cursor: pointer;
      }
    }

  }
}

a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3rem;
}

.detail-container {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $tp-white;
  height: 100vh;
  width: 100%;
  padding: 0 1.5rem;
  margin-left: 8rem;

  .heading {
    margin-top: 0 !important;
    padding-left: 0.75rem;
    margin-bottom: 0.5rem;
  }

  .tooltip_icon {
    border: none;
    background-color: transparent;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;

    .buttons {
      padding: 1.125rem 2.5rem;
      line-height: 0;
      height: 2.563rem;
      border-radius: 2px !important;
      box-shadow: 0px 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    }

    .cancel-btn {
      margin-left: 0.75rem;
      background: $tp-white;
      color: $tp-blue;
      border: 2px solid $tp-blue;
    }
    .next-btn {
      background: $tp-blue;
      color: $tp-white;
    }
  }
}

input:not(.not-shitty) {
  background: none !important;
  background-color: rgba($tp-dark, 0.07)!important;
  padding-left: 1rem !important;
  max-width: 96.5%!important;
  height: 70px !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  border-radius: 5px !important;
  transition: #dfdfdf .5s ease-out !important;
  outline: none !important;
  color: $tp-black !important;
  font-size: 12pt!important;
  font-family: Poppins!important;
}

.join-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
