<div class="create-success-modal">
  <button
    mat-mini-fab
    class="close-button"
    (click)="cancel()"
  >
    <mat-icon>clear</mat-icon>
  </button>

  <div class="dialog-header">
    <div class="d-flex justify-center">
      <img src="assets/img/watchlists/eye.svg" />
    </div>
    <h1>Watchlist created</h1>
  </div>
  <div class="dialog-content">
    <p class="sub-title">
      You’ve created a shiny new watchlist!
    </p>
    <p class="description">
      Visit the marketplace to find products to add to your watchlist or go back and share your watchlist with collaborators
    </p>
  </div>

  <div class="d-flex dialog-actions">
    <button
      mat-raised-button
      class="btn-custom-outline btn-request mr-3"
      (click)="cancel()"
    >
      Back to watchlists
    </button>
    <button
      mat-raised-button
      class="btn-custom"
      (click)="goToMarketPlace()"
    >
      Go to marketplace
    </button>
  </div>
</div>
