@import 'colors.scss';

.modal-cont.session-modal-cont {
  position: relative;
  overflow: hidden;
  h1,h4 {
    margin: 0;
  }
  mat-icon.headerIcon {
    font-size: 50pt;
    color: $tp-orange;
    margin-left: -35px;
  }
  h1 {
    font-size: 16pt;
    line-height: 28px;
    font-weight: normal;
  }
  h3 {
    font-size: 14pt;
    line-height: 19px;
    font-weight: 100;
  }
  div {
    margin-top: 12px;
  }

  .options {
      button {
        //position: relative;
        margin-top: 8px;
      }
  }
}
