@import '../../../../../styles/colors.scss';

$completed-color: #3F9CF4;
$compliant-color: #00AF00;
$middle-color: rgb(222, 222, 32);

.progressPercentage {
  margin: 0 0 0 20px;
}


.compliant {
  color: $compliant-color;
}

.middle {
  color: $middle-color !important;
}

.incompliant {
  color: #FF0000;
}
