<button mat-mini-fab class="closeModal2" (click)="exit()">
   <mat-icon>clear</mat-icon>
</button>
 <div class="modal-cont howto-modal" >
   <h2 class="header">How to guide</h2>
   <div class="container">
     <h3>Get started by signing up in 3 steps.</h3>
     <div class="contenct">
        <div class="item">
            <div class="text left">
              <span>1. </span>Before starting, we need to know a little bit about you. Accept cookies and click on “Join us”
            </div>
            <div class="pic">
              <img src="assets/img/howto/01.png" alt="Join us" />
            </div>
        </div>


        <div class="item">
            <div class="pic">
              <img src="assets/img/howto/02.png" alt="Join us" />
            </div>
            <div class="text right">
              <span>2. </span>Choose either supplier or buyer and fill out your details.
            </div>
        </div>


        <div class="item">
            <div class="text left">
              <span>3. </span>Once you’ve filled in some basic information, we will send you an authentication code via email to register your account. Use the code you to verify your account. Please check your junk folder.
            </div>
            <div class="pic">
              <img src="assets/img/howto/03.png" alt="Join us" />
            </div>
        </div>




      </div>
    </div>
  </div>
