

.edit-user-table-modal {
    background: #FFFFFF;
    border-radius: 6px;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        margin: 0;
        padding: 0 0 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 0.875em;
        line-height: 150%;
        text-align: center;
        color: #0C1D4A;
    }

    button {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 1.125em;
        line-height: 22px;
        color: #FFFFFF;
        width: 150px;
        height: 58px;
        background: #3F9CF4;
        // opacity: 0.6;
        border-radius: 6px;
        box-shadow: none;
        margin: 20px auto 0;
    }

    .level-1 {
        display: flex;
        justify-content: space-between;

        input {
            margin: 0 5px;
            width: 230px;
        }
    }

    input {
        padding: 20px !important;
        font-family: 'Helvetica' !important;
        font-style: normal;
        font-weight: 400 !important;
        font-size: 1em !important;
        line-height: 150%;
        color: #0C1D4A;
        opacity: 0.5;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        width: 470px;
        height: 70px;
        background: #F3F3F6;
        border: 1px solid rgba(51, 51, 51, 0.1);
        border-radius: 5px;

        &:focus {
            opacity: 1;
        }
    }

    .error {
        margin: 0;
        padding: 5px 0 0;
        font-size: 10px !important;
        color: red;
        opacity: 0.6;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
    }
}