span {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 40px;
    animation-duration: 5s;
    animation-name: stepped-pulse;
}


.mat-icon {
    margin-left: 4px;
    font-size: 16px;
    line-height: 20px;
}


@keyframes stepped-pulse {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}