<ui-data-filters>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="supplierStatus">
        <mat-option value="">All</mat-option>
        <mat-option
          *ngFor="let status of supplierStatuses | keyvalue"
          [value]="status.value"
        >
          {{ status.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>Opt-In / Opt-Out</mat-label>
      <mat-select formControlName="optInStatus">
        <mat-option value="">All</mat-option>
        <mat-option
          *ngFor="let status of optInStatuses | keyvalue"
          [value]="status.value">
          {{status.value}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <div class="pull--left">
      <button mat-flat-button (click)="onViewInvitations()" color="primary">
        View invitations
      </button>
    </div>

    <div class="pull--right">
      <mat-form-field>
        <input formControlName="search" matInput placeholder="Search" />
      </mat-form-field>
    </div>
  </form>
</ui-data-filters>
