<div class="min-max-wrp">
    <div class="flex-item">
      <span>Min</span>

      <mat-form-field class="min-max-val" appearance="outline">
        <input type="number"
            class="number-input-min"
            (keyup)="searchMin()"
            (click)="openPanelMin()"
            placeholder="$M Add value"
            [(value)]="selectedMin"
            matInput
            #inputMin
        >
        <mat-select
          style=" opacity:0"
          #selects
          #selectMin
          (selectionChange)="onChangeSelect()"
          [(value)]="selectedMin"
          placeholder=""
          disableOptionCentering
          panelClass="myPanelClass"
        >
        <mat-option [value]="null">None</mat-option>

            <mat-option
                *ngFor="let item of sortedMin; let i = index"
                [value]="item"
                [disabled]="item > selectedMax && selectedMax && item"
          >
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="flex-item">
        <span>Max</span>
        <mat-form-field class="min-max-val" appearance="outline">
          <input type="number"
            class="number-input-max"
            (keyup)="searchMax()"
            (click)="openPanelMax()"
            placeholder="$M Add value"
            [(value)]="selectedMax"
            matInput
            #inputMax
          >
          <mat-select
            style=" opacity:0"
            #selects
            #selectMax
            (selectionChange)="onChangeSelect()"
            [(value)]="selectedMax"
            placeholder=""
            disableOptionCentering
            panelClass="myPanelClass"
          >
            <mat-option [value]="null">None</mat-option>
            <mat-option
              *ngFor="let item of sortedMax; let i = index"
              [value]="item"
              [disabled]="item < selectedMin && selectedMin && item"
            >
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
  </div>
