<div class="personal-settings">
  <form [formGroup]="resetForm" autocomplete="off">
    <mat-card class="mt-5 custom-card">
      <mat-card-title class="title">
        Change Password
      </mat-card-title>
      <mat-card-content>
        <div class="d-flex space-x-5 mb-5">
          <app-custom-input
            class="flex-1"
            [formGroup]="resetForm"
            formControlName="password"
            ngDefaultControl
            label="New Password"
            type="password"
            [isError]="submitted && !!resetForm.controls.password.errors"
            [errorText]="resetForm.controls.password.errors?.required ? 'Password is required' : (resetForm.controls.password.errors?.pattern ? 'Password must have at least 1 small-case letter, 1 Capital letter, 1 digit, 1 special character and the length should be minimum 8 of characters.' : '')"
          ></app-custom-input>

          <app-custom-input
            class="flex-1"
            [formGroup]="resetForm"
            formControlName="confirmPassword"
            ngDefaultControl
            label="Confirm Password"
            type="password"
            [isError]="submitted && !!resetForm.controls.confirmPassword.errors"
            [errorText]="resetForm.controls.confirmPassword.errors?.required ? 'Confirm Password is required' : (resetForm.controls.confirmPassword.errors?.mustMatch ? 'Password not match' : '')"
          ></app-custom-input>
        </div>
        <div>
          <app-custom-button label="Change Password" (onClick)="onSubmit()"></app-custom-button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
