@import 'src/styles/colors';

.custom-card {
  padding: 50px 30px;
  box-shadow: none;

  .title {
    font-size: 24px;
    color: $tp-dark;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .subTitle {
    font-size: 18px;
    line-height: 1.5;
    color: $tp-dark;
  }

  .wrapper {
    width: 470px;
  }
  .user-item {
    background: #F3F3F6;
    border: 2px solid rgba(12, 29, 74, 0.3);
    border-radius: 5px;
    padding: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 172px;
    max-width: 172px;
    flex: auto;

    .name, .email {
      font-family: 'Helvetica';
      font-style: normal;
      font-size: 14px;
      line-height: 150%;
      color: $tp-dark;
      margin-bottom: 10px;
      word-break: break-all;
      text-align: center;
    }

    .name {
      font-weight: 700;
    }

    .role {
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: $tp-dark;
      margin-bottom: 10px;
      text-align: center;
    }
    .btn-danger {
      background: #D10000;
      border-radius: 3px;
      padding: 5px 10px;
      color: white;
      cursor: pointer;
      min-width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      .disabled {
        opacity: 0.6;
        cursor: default;
      }
    }
  }
}

.btn-custom {
  background: $tp-blue;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px !important;
  color: white;
  padding: 10px 40px;
  font-size: 14px !important;
  line-height: 1;
  height: 40px;
  &:disabled {
    opacity: 0.5;
  }
}
