.prices-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;

    li {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        list-style-type: none;
        padding-bottom: 17px;

        &:last-child {
            padding-bottom: 0;
        }

        span {
            display: inline-flex;
        }

        span:first-child {
            padding-right: 23px;
            min-width: 160px;
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #171C26;
        }
        span:last-child {
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #171C26;
        }
    }
}