<div class="alerts" *ngIf="!loading">
  <p *ngIf="newest && newest.length > 0" class="description blue">Latest</p>
  <ul
    *ngIf="newest && newest.length > 0"
    class="newest"
    [ngStyle]="{ height: newest.length > 1 ? '147px' : '80px' }"
  >
    <li *ngFor="let alert of newest" class="blue">
      <strong *ngIf="alert.type != 'requestinfo'"
        >{{ alert.scope }} {{ alert.name }}</strong
      >
      <strong *ngIf="alert.type == 'requestinfo'"
        >{{ alert.scope }} {{ alert.product }}</strong
      >

      <span *ngIf="alert.type != 'requestinfo'">
        {{ alert.ndaDisplayStatus | capitalize }} -
        {{ alert.date | date : "shortDate" }}
      </span>
      <span *ngIf="alert.type == 'requestinfo'">
        Supplier <b>{{ alert.name }}</b> {{ alert.ndaDisplayStatus }} -
        {{ alert.date | date : "shortDate" }}
      </span>
    </li>
  </ul>

  <p *ngIf="oldest && oldest.length > 0" class="description">Older</p>
  <ul
    *ngIf="oldest && oldest.length > 0"
    class="oldest"
    [ngStyle]="{
      height:
        newest.length > 1 ? '70px' : newest.length == 0 ? '200px' : '140px'
    }"
  >
    <li *ngFor="let alert of oldest" class="grey">
      <strong *ngIf="alert.type != 'requestinfo'"
        >{{ alert.scope }} {{ alert.name }}</strong
      >
      <strong *ngIf="alert.type == 'requestinfo'"
        >{{ alert.scope }} {{ alert.product }}</strong
      >

      <span *ngIf="alert.type != 'requestinfo'">
        {{ alert.ndaDisplayStatus | capitalize }} -
        {{ alert.date | date : "shortDate" }}
      </span>
      <span *ngIf="alert.type == 'requestinfo'">
        Supplier <b>{{ alert.name }}</b> {{ alert.ndaDisplayStatus }} -
        {{ alert.date | date : "shortDate" }}
      </span>
    </li>
  </ul>
</div>
