<section>
<h4>Relevant to:</h4>
<h5>All suppliers are expected to have a mature and active Information Security postition and as such this is section is relevant to all.
If the supplier is likely to handle bank data such as credit cards and/or Personally Identifiable Information (PII) then addtional addtional controls and accurances will be required.</h5>
<!--<ul>
  <li>On-boarding or introducing customers;</li>
  <li>Processing customer transactions</li>
  <li>Providing the Bank’s financial products to customers;</li>
  <li>Providing risk, compliance or audit services to the Bank.</li>
</ul>-->
</section>
<section>
<h4>Background:</h4>
<h5>All suppliers are expected to have a mature and active Information Security postition and as such this is section is relevant to all.
If the supplier is likely to handle bank data such as credit cards and/or Personally Identifiable Information (PII) then addtional addtional controls and accurances will be required.
</h5>
<ul>
  <li>Classification, Retention and handling of your data - This shows that you gave identified the information you hold and how you handle it to maintain confidentiality.
  <li>Change Management – To show you have a robust change management system to avoid issues with availability.
  <li>Incident Management – A fully tested incident management process shows banks that if an issue was to arise it would be dealt with promptly, in an organised way and integrity would be restored to systems in a timely manner.
  <li>Anti-Virus measures – This displays the supplier protects its systems from potential loss of confidentiality, integrity and availability.
  <li>Patch Management – This is critical to stopping attacks against systems and could be linked to the failure of confidentiality, integrity and availability.
  <li>Risk Management – The suppliers strong security posture relies on an active risk management system in place.
  <li>Security Awareness & Training – This is essential part of the security toolkit. A high level of attacks are now levelled at staff and effective training can reduce the chance of loss of confidentially.
  <li>Cryptography Control – Encryption is important to ensure the integrity of data
  <li>Firewalls – Firewalls are a crucial component to stop hackers from getting in and protecting different parts of your network.
  <li>Access Control & Password management – Only give the rights necessary and no more. Access control is very important to stop loss of confidentiality through users having more access than they need.
  <li>3rd Parties – It’s essential 3rd parties understand the your risks and requirements are also theirs.
  <li>Secure Software Development – During software development security must be an integral element. Failure to do this may open vulnerabilities in your code.
  <li>Backups – Absolutely essential as a last port of call in a business continuity situation.
  <li>Data Loss Prevention – DLP is a function available in some software suites that identifies sensitive information as it moves around your systems and goes out. Appropriate use of DLP will uphold confidentially.
  <li>Monitoring – Without monitoring you may not be aware of an issue until it becomes critical and you won’t be able to track down the source of the issue. Monitoring upholds Confidentiality, integrity and availability.
  <li>Intrusion Detection Systems – IDS look for unusual behaviour and can provide early warning of a security breach.
  <li>Distributed Denial of Service - DDoS affects availability and therefore it is highly recommended to have preventative systems in place to avoid this scenario.
  <li>Vulnerability and Penetration testing – It is fundamental to have regular vulnerability and penetration testing to ensure issues are identified and resolved.
  <li>Data Privacy – compliance with GDPR is a legal requirement and is key to maintain confidentially of data
  <li>Screening – Screening of staff is important to avoid employing staff that could do you damage.
</ul>
</section>
<section>
  <h4>Regulators:</h4>
  <h5>FCA; PRA</h5>
</section>
<section>
  <h4>Aligns to the legislation and/ or regulations:</h4>
  <ul>
    <li>Prudential Regulatory Authority’s requirement to safeguard the security, integrity and confidentiality of information
    <li>Data Protection Act 2018
    <li>General Data Protection Regulation (EU) 2016/679
  </ul>
  <p>These requirements are informed by the International code of practice for Information Security Management (ISO 27001/27002) and National Institute of Standards and Technology (NIST) Cyber Security Framework to ensure compliance with our regulatory requirements</p>
</section>
<!--<section>
<h4>Relevant Websites to visit</h4>
<div class="link">
  <a href="https://www.gov.uk/government/publications/anti-money-laundering-and-counter-terrorist-finance-supervision-reports/anti-money-laundering-and-counter-terrorist-finance-supervision-report-2013-14">
    https://www.gov.uk/government/publications/anti-money-laundering-and-counter-terrorist-finance-supervision-reports/anti-money-laundering-and-counter-terrorist-finance-supervision-report-2013-14
  </a>
</div>

<div class="link">
  <a href="https://www.fca.org.uk/firms/financial-crime/money-laundering-regulations">
    https://www.fca.org.uk/firms/financial-crime/money-laundering-regulations
  </a>
</div>

<div class="link">
  <a href="https://www.gov.uk/government/publications/anti-money-laundering-and-counter-terrorist-financing-supervision-report-2017-to-2018">
    https://www.gov.uk/government/publications/anti-money-laundering-and-counter-terrorist-financing-supervision-report-2017-to-2018
  </a>
</div>
</section>-->


<section>
<h4>Recommended components required to support your competence:</h4>
  <section class="components">
    <h4>Training:</h4>
    <h5>We recommend that you are able to demonstrate that you have suitable training material and plans in place and are able to provide current reports on the number of your staff who have been trained, demonstrating that training takes place as regularly as required by any legislation</h5>
    <div class="componentsTable">
        <div class="componentsTableItem">
          <h5>Title:</h5>
          <h5 class="notSoStong">Security Policy training.</h5>
        </div>
        <div class="componentsTableItem">
          <h5>Details:</h5>
          <h5 class="notSoStong">Security Policy training provided to all staff on an ongoing basis.</h5>
        </div>
        <div class="componentsTableItem">
          <h5>Guidance:</h5>
          <h5 class="notSoStong">Demonstrate a security policy training program is in place and provide reporting on staff numbers trained in the last 12 months.</h5>
        </div>
    </div>
  </section>
  <section class="components">
    <h4>Policies:</h4>
    <h5>Banks will want to see that there is a relevant an appropriate Policies which the procedures align to are established</h5>
    <div class="componentsTable">
        <div class="componentsTableItem">
          <h5>Title:</h5>
          <h5 class="notSoStong">Information Security Piolicy</h5>
        </div>
        <div class="componentsTableItem">
          <h5>Description:</h5>
          <h5 class="notSoStong">Your Information Security Policy (ISP) is your main document that sets out your security rules for your staff and the business as a whole.
  It must cover or make reference to sub-policies that explain all your rules in connection with Information Technology systems and digitally stored data.
  This document is your public security position and should viewed in this way. You may state all your security requirements within it however this can also be broken out into sub-policies which you reference within the ISP.</h5>
        </div>
        <div class="componentsTableItem">
          <h5>Guidance:</h5>
          <h5 class="notSoStong">Information security is deemed to safeguard three main objectives:
            <ul>
              <li>Confidentiality – data and information assets must be confined to people authorized to access and not be disclosed to others;
              <li>Integrity – keeping the data intact, complete and accurate, and IT systems operational;
              <li>Availability – an objective indicating that information or system is at disposal of authorized users when needed.
            </ul>
            When thinking about your ISP you should think about the following topics:
            <ul>
              <li>Classification, Retention and data handling
              <li>Change Management Systems
              <li>Incident Management Systems
              <li>Anti-Virus measures
              <li>Patch Management precautions
              <li>Risk Management framework
              <li>Security Awareness & Training
              <li>Cryptography Controls enforced
              <li>Firewalls installed
              <li>Access Control & Password enforcement
              <li>Management of 3rd Parties
              <li>Secure Software Development
              <li>Backup strategy
              <li>Data Loss Prevention
              <li>Monitoring
              <li>Intrusion Detection Systems
              <li>Distributed Denial of Service prevention
              <li>Vulnerability and Penetration testing schedule
              <li>Data Privacy controls
              <li>Staff Screening
            </ul>
          </h5>
        </div>
    </div>
  </section>

  <section class="components">
    <h4>Procedures:</h4>
    <h5>Banks will want to see that there is a relevant an appropriate Record keeping and governance approach where procedures are required. You should be able to demonstrate that your company is set up to record all items listed and ensure appropriate escalation and improvement process is in place</h5>
    <div class="componentsTable">
        <div class="componentsTableItem">
          <h5>Title:</h5>
          <h5 class="notSoStong">Bank information and classification - data protection</h5>
        </div>
        <div class="componentsTableItem">
          <h5>Details:</h5>
          <h5 class="notSoStong">Evidence to demonstrate that controls are in place to protect and manage access to the Bank’s Information in accordance with its classification. </h5>
        </div>
        <div class="componentsTableItem">
          <h5>Guidance:</h5>
          <h5 class="notSoStong">
            Data Transfer registers in place and maintained (including review of method of transfer to ensure it remains in line with information minimum handling requirements). Provide evidence annually
          </h5>
        </div>

          <hr/>

          <div class="componentsTableItem">
            <h5>Title:</h5>
            <h5 class="notSoStong">Security Incident Management</h5>
          </div>
          <div class="componentsTableItem">
            <h5>Details:</h5>
            <h5 class="notSoStong">The Supplier should provide their "Security Incident Management Procedure". This reports and manages all security incidents. </h5>
          </div>
          <div class="componentsTableItem">
            <h5>Guidance:</h5>
            <h5 class="notSoStong">
              The Security Incident Management Procedure should detail the following:
              <ul>
                <li>Raising of Incidents
                <li>Triage of the Incident to identify its severity
                <li>Running of a scenario playbook to Prepare, Detect, Analyse, Contain, Eradicate and Recover
                <li>Lessons learnt
              </ul>
            </h5>
          </div>
          <hr/>
          <div class="componentsTableItem">
            <h5>Title:</h5>
            <h5 class="notSoStong">Change Management</h5>
          </div>
          <div class="componentsTableItem">
            <h5>Details:</h5>
            <h5 class="notSoStong">The Supplier should provide details of their "Change Management Process". </h5>
          </div>
          <div class="componentsTableItem">
            <h5>Guidance:</h5>
            <h5 class="notSoStong">
              The Change Management Process should detail the following:

              <ul>
                <li>Roles and responsibilities (the initiator should not be the approver)
                <li>The process itself
                <li>A sample change request form including:
                  <ul>
                    <li>Times and dates of change</li>
                    <li>Priority</li>
                    <li>Business reason for change</li>
                    <li>Detailed implementation plan</li>
                    <li>Testing plan</li>
                    <li>Backout plan</li>
                    <li>Asset Owner</li>
                    <li>Likelihood of services being impacted</li>
                    <li>Communications Plan</li>
                  </ul>
              </ul>
            </h5>
          </div>

          <hr/>

          <div class="componentsTableItem">
            <h5>Title:</h5>
            <h5 class="notSoStong">Vulnerability Management</h5>
          </div>
          <div class="componentsTableItem">
            <h5>Details:</h5>
            <h5 class="notSoStong">The Supplier should provide their "Vulnerability Management Procedure". This provides details of how vulnerabilities are identified and resolved.</h5>
          </div>
          <div class="componentsTableItem">
            <h5>Guidance:</h5>
            <h5 class="notSoStong">
              The Vulnerability Management Process should detail the following:
              <ul>
                <li>Discovery – vulnerabilities are discovered
                <li>Prioritisation – vulnerabilities are assessed and prioritised for remedial action
                <li>Planning – a plan is devised to mitigate the vulnerabilities
                <li>Remediation – the action of resolving the issues
                <li>Validation – checking the remedial actions have had the desired effect.
              </ul>
            </h5>
          </div>
          <hr/>
          <div class="componentsTableItem">
            <h5>Title:</h5>
            <h5 class="notSoStong">Data Security, Logical And Physical Access Control</h5>
          </div>
          <div class="componentsTableItem">
            <h5>Guidance:</h5>
            <h5 class="notSoStong">
              The Supplier should not access Bank Infrastructure and/or Data on the Bank Infrastructure and/or access Bank owned assets without the prior written consent of the Bank. Where consent is given the following minimum security measures should be applied to ensure access to Bank Information is restricted to the minimum level necessary for individual role responsibilities to be discharged. The Supplier should ensure:
              <ul>
                <li>Supplier employees or sub-contractors use the Bank supplied Users IDs and that secret authentication information (e.g. passwords, PINs) and security tokens are protected and not shared with any other individuals;
                <li>Supplier employees or sub-contractors do not transmit Bank information from the Bank’s infrastructure to the Supplier’s infrastructure prior without written consent from the Bank;
                <li>Supplier employees or sub-contractors comply with Bank policies where supplied with Bank owned equipment;
                Processes (i.e. leavers process, recertfication) are in place to identify Supplier employees or sub-contractors who no longer require access (i.e. job role changes, leavers) to Bank systems;
                <li>Timely notification to the Bank of Supplier employees or sub-contractors who no longer need access to Bank systems to perform their role including the return of any Bank property, e.g. ID cards, laptop, secure token;
                <li>Supplier employees or sub-contractors are made aware that the Bank may monitor use Bank systems.
              </ul>
              </h5>
          </div>

          <hr/>
          <div class="componentsTableItem">
            <h5>Title:</h5>
            <h5 class="notSoStong">Storage And Destruction Of Bank Information</h5>
          </div>
          <div class="componentsTableItem">
            <h5>Guidance:</h5>
            <h5 class="notSoStong">
            The Supplier should protect all Bank Information (held by Supplier Employees or Approved Subcontractors in any form) by adopting a ‘clear desk’ policy and disposing of Bank Information securely by treating it as confidential waste.
   The Supplier should ensure that any Bank Information held by the Supplier or an Approved Subcontractor is disposed of in a manner which protects the confidential nature of Bank Information.
            </h5>
          </div>

          <hr/>
          <div class="componentsTableItem">
            <h5>Title:</h5>
            <h5 class="notSoStong">Payment Card Industry (PCI) Terms And Conditions</h5>
          </div>
          <div class="componentsTableItem">
            <h5>Guidance:</h5>
            <h5 class="notSoStong">
              Where the Services concern or relate to payment cards (including without limitation debit cards, credit cards or prepaid cards) the Supplier should comply with the Payment Card Industry Security Standards Council’s standards in respect of Cardholder Data (including without limitation PCI DSS (Payment Card Industry Data Security Standard), Payment Application, PA DSS (Payment Application Data Security Standard), PCI PIN Security Requirements, PCI Card Security Requirements etc (collectively, the ""PCI Standards"")).
    The Supplier should comply with the PCI Security Standards for the duration of the contract with the Bank and until such point as all relevant data (including Cardholder Data) has been returned, transferred or securely deleted (in accordance with PCI Standards) as directed by the Bank.
    The Supplier should hold PCI DSS Attestation of Compliance accreditation and advise the Bank immediately if this is lost.
    Where the Service includes the provision of any product supporting the processing of Cardholder Data then in addition to the above requirements the Payment Application should have been evaluated as PA DSS compliant and the specific version documented on the PCI Council list of validated Payment Applications.

            </h5>
          </div>

          <hr/>
          <div class="componentsTableItem">
            <h5>Title:</h5>
            <h5 class="notSoStong">Termination And Decommissioning</h5>
          </div>
          <div class="componentsTableItem">
            <h5>Guidance:</h5>
            <h5 class="notSoStong">
              At the end of the Term (for whatever reason) the Supplier should ensure that Bank  Information assets are returned or destroyed appropriately as agreed with the Bank. Any continued use of the information assets should be formally agreed with the Bank and covered by an appropriate contract.
            </h5>
          </div>
      </div>
  </section>
</section>







<!--
<section class="components">
  <h4>Procedures:</h4>
  <h5>Banks will want to see that there is a relevant an appropriate Record keeping and governance approach where procedures are required.You should be able to demonstrate that your company is set up to record all items listed and ensure appropriate escalation and improvement process is in place.</h5>
  <div class="componentsTable">
      <div class="componentsTableItem">
        <h5>Title:</h5>
        <h5 class="notSoStong">Customer Due Diligence (CDD) including Enhanced Customer Due Diligence (EDD)</h5>
      </div>
      <div class="componentsTableItem">
        <h5>Details:</h5>
        <h5 class="notSoStong">Provision of reports and processes to demonstrate : Completion of New to Bank Customer Due Diligence (CDD) including Enhanced Customer Due Diligence (EDD) (where applicable) - regular sampling checks. Number of accounts opened.</h5>
      </div>
      <div class="componentsTableItem">
        <h5>Guidance:</h5>
        <h5 class="notSoStong">
          <ul>
            <li>Number of accounts sampled;</li>
            <li>Number of failures e.g. where the correct level of due diligence cannot be evidenced.</li>
          </ul>
        </h5>
      </div>
<hr/>
      <div class="componentsTableItem">
        <h5>Title:</h5>
        <h5 class="notSoStong">Ongoing Customer Due Diligence (ODD)- sample reporting</h5>
      </div>
      <div class="componentsTableItem">
        <h5>Details:</h5>
        <h5 class="notSoStong">Number of accounts subject to ODD review;</h5>
      </div>
      <div class="componentsTableItem">
        <h5>Guidance:</h5>
        <h5 class="notSoStong">
          <ul>
            <li>Number of ODD cases sampled;</li>
            <li>Number of failures e.g. where completion of ODD cannot be evidenced or is incomplete</li>
          </ul>
        </h5>
      </div>
<hr/>
      <div class="componentsTableItem">
        <h5>Title:</h5>
        <h5 class="notSoStong">Politically Exposed Person Identification process</h5>
      </div>
      <div class="componentsTableItem">
        <h5>Details:</h5>
        <h5 class="notSoStong">Third Parties must have appropriate systems and procedures to identify where a new or existing customer relationship (including beneficial owner) is a PEP. Customer Screening must be in place to identify PEP's at new to bank (NTB) or where an existing relationship may become categorised as a PEP.</h5>
      </div>
      <div class="componentsTableItem">
        <h5>Guidance:</h5>
        <h5 class="notSoStong">
          <ul>
            <li>Management information</li>
            <li>Number of PEP relationships identified</li>
          </ul>
        </h5>
      </div>
<hr/>
      <div class="componentsTableItem">
        <h5>Title:</h5>
        <h5 class="notSoStong">SAR (Suspicious Actvity Reporting)</h5>
      </div>
      <div class="componentsTableItem">
        <h5>Details:</h5>
        <h5 class="notSoStong">Third Parties must ensure that where knowledge or reasonable knowledge exists that a person has been engaged in money laundering or has identified that criminal/ terrorist property exists the Third Party must ensure that a suspicious activity report is made to the Bank</h5>
      </div>
      <div class="componentsTableItem">
        <h5>Guidance:</h5>
        <h5 class="notSoStong">Process for reporting controls</h5>
      </div>
  </div>
</section>
-->
