<section>
  <h4>Relevant to:</h4>
  <h5>Records Management is the system used to control and organisations records from the creation until the record is archived or destroyed. This is also known as a record life cycle. A records management process is comprised of identifying records, classifying records and storing records, securing, retriving (as well as coordinating internal and external access) and destroying or permanently preserving them. This guidance note should be read in conjuction with the notes for Data, Information Security and Cyber Security.</h5>
</section>
<section>
  <h4>Background:</h4>
  <h5>
    <p>To ensure that suppliers are able to create, preserve, protect, and manage records effectively.</p>
    Suppliers may be asked to demonstrate a robust records management approach to ensure that evidence of business activity is created, captured and managed and made accessible to those who need it, for as long as it is required. This enables the following:
    <ol>
      <li>compliance with legislation and regulations;
      <li>informed decision making;
      <li>management of business risks;
      <li>continuity in the event of disaster;
      <li>the protection of rights and obligations of the Bank;
      <li>protection and support in litigation;
      <li>reduction of costs through greater business efficiency;
      <li>protection of intellectual property;
      <li>the protection of corporate memory;
      <li>maintaining customer confidence;
      <li>protection of Bank's commercial interests and reputation; and
      <li>disposal of records in an appropriate manner
    </ol>
    <p>This should be developed in line with and support your Data Privacy Policy</p>
    <p>Records capture information and provide authoritative evidence about  Bank's
  business activity. They can be distinguished from other types of information by their
  role as evidence of business activity and by the fact that they have context which we
  need to preserve. For example, contracts, financial statements, campaign briefs, and
  compliance arrangements. Records can include personal data and sensitive personal
  data.
  Records are those which ensure the continuation or survival of the organisation.
  They evidence  legal and regulatory requirements.
  Depending on the types of records that your company may hold, how they are handled and where they are stored on behalf of a bank, you will be required to ensure that you have appropriate procedures in place. Data Types might include Critical or Personal Data.
    </p>
    <p>
      You should consider appointing a person, to be accountable for implementation and monitoring key controls to ensure you have a robust and appropriate records management approach in place which ensures compliance with legislation, regulation. That it is regularly reviewed, control tested with assurance plans to ensure compliance to legislations and regulations, identifying where remediation is required and implementing agreed actions.
    </p>
    <p>
      You should consider ensuring that your employees are appropriately trained
    </p>
  </h5>
</section>
<!--
<section>
  <h4>Regulators:</h4>
  <h5>FCA</h5>
</section>
-->
<section>
  <h4>Aligns to the legislation and/ or regulations:</h4>
  <h5>
  ISO 15489-1:2001
  </h5>
</section>
