<section>
  <h4>Relevant to:</h4>
  Any external party which may supply services to a Bank or perform on behalf of a Banks which form part of the Bank's regulated activities. Typical examples (not limited) are:
  <ol>
    <li>On-boarding new customers;
    <li>Processing customer transactions;
    <li>Providing bank financial products to customers; and
    <li>Providing risk, compliance or audit services to a Bank.
  </ol>
  Typical circumstances that will not result in the requirement of Sanctions policy being applicable include:
  <ul>
    <li>Providing goods or services to a Banks (e.g. stationary).
  </ul>
</section>


<section>
  <h4>Background:</h4>

  <h5>
    Neither banks, nor their associated suppliers are permitted to provide funds or financial services to those subject to Sanctions. A failure to comply with these obligations can carry serious consequences, including criminal penalties against those parties. The UK Government and Regulators place specific responsibilities on firms relating to the UK’s financial Sanctions regime. To comply to these, Banks are required to ensure : The legitimate aims of the international community are achieved by applying Sanctions in a timely and diligent manner;  Banks shall not knowingly be involved in attempts to frustrate or circumvent Sanctions arrangements;  The Banks shall be compliant with applicable Sanctions prevailing in the jurisdictions in which it operates; and  Outsourced service providers undertaking relevant functions on behalf of Banks are compliant with the Santion requirements.
  </h5>
  <p>
    The following are likely to be considered as mandatory by a bank (specific requirements will differ from 1 bank to the next - these are just guidelines:
  </p>

  Banks are unlikely to maintain any relationships, process payments to or from, or undertake commercial transactions with entities or individuals based in the countries listed as having sanctions placed against them. This prohibition applies to all transactions and payments in all currencies in the following common countries:
  <ul>
    <li>Syria
    <li>North Korea
  </ul>



  <p>
  In addition to the above, certain restrictions and prohibitions MAY apply when dealing with: Iran, Sudan (aka North Sudan), Cuba, the Crimean peninsula (including Sevastopol) and Russia.
  If you intend to engage with Banks as your customers, you will likely be required to not deal with any of these countries on behalf of the Banks without prior agreement.
  Suppliers may be required to ensure that they meet all UK, EU, and UN Sanctions obligations (including the US where applicable).
  </p>

  <p>
  As a supplier wanting to engage with a bank for commerical reasons,  you will likely to be required to complete a risk-based Sanctions due diligence on persons (including individuals and incorporated and unincorporated bodies) who will perform services for or on behalf of the Banks which is appropriate and relevant to such services.
  In determining whether a person is acting for or on behalf of the Bank, the Supplier may be required to consider the nature of the activity being undertaken. As a minimum, an agent, subsidiary or any other person obtaining, retaining or conducting business on behalf of the Bank may be required to be subject to due diligence.
  </p>

  In order to ensure the effective implementation of Sanctions and the traceability of funds connected with the financing of terror, it is likely to be required that any Bank with whom you engage with  is not knowingly involved; in attempts to frustrate or circumvent the Sanctions regime of any country or regional body. Activities which are expressly forbidden, may include but are not limited to:
  <ul>
    <li>Omitting, deleting or altering information in payment messages for the
    purpose of avoiding detection of that information by other financial
    institutions in the payment process;
    <li>Using a particular payment messaging system for the purposes of avoiding
    detection of that information within the Bank and/or other financial
    institutions in the payment chain; and
    <li>Encouraging or providing guidance to customers and suppliers on
    circumventing any Sanctions prohibitions or restrictions.
  </ul>
  <p>It is a criminal offence not to comply with a financial sanction unless you have an appropriate licence or authorisation from the Office of Financial Sanctions Implementation (OFSI). </p>
  <p>We recommend ensuring that your Sanctions Policy and Procedures are frequently aligned to the FCA Policy.</p>
</section>

<section>
  <h4>Regulators:</h4>
  <h5>FCA</h5>
</section>

<section>
  <h4>Aligns to the legislation and/ or regulations:</h4>
  <h5>AML in the UK is regulated by the following:
    <p>The principal national authorities involved are the National Crime Agency (NCA) and the Serious Fraud Office (SFO). The compliance responsibilities of the regulated sector are enforced by a number of supervisors, including the Financial Conduct Authority (FCA) and Her Majesty's Revenue and Customs</p>
    This  guidance note supports compliance with the following legislation and / or regulations:
    <ul>
      <li>Proceeds of Crime Act 2002;
        <li>Anti-terrorism, Crime and Security Act 2001;
        <li>The Money Laundering, Terrorist Financing and Transfer of Funds
        <li>Regulations 2017;
        <li>Counter Terrorism Act 2008; and
        <li>System and Control (SYSC) Rules of the FCA Handbook.
    </ul>
  </h5>

</section>

<section>
  <h4>Relevant Websites to visit</h4>
  <div class="link">
    <a href="https://www.handbook.fca.org.uk/handbook/FCTR/8/?view=chapter">
      https://www.handbook.fca.org.uk/handbook/FCTR/8/?view=chapter
    </a>
  </div>

  <div class="link">
    <a href="https://www.fca.org.uk/firms/financial-crime/financial-sanctions">
      https://www.fca.org.uk/firms/financial-crime/financial-sanctions
    </a>
  </div>
  <div class="link">
    <a href="https://www.gov.uk/government/organisations/office-of-financial-sanctions-implementation">
      https://www.gov.uk/government/organisations/office-of-financial-sanctions-implementation
    </a>
  </div>
</section>


<section class="components">
  <h4>Policies:</h4>
  <h5>Banks will want to see that there is a relevant an appropriate Policies which the procedures align to are established</h5>
  <div class="componentsTable">
      <div class="componentsTableItem">
        <h5>Title:</h5>
        <h5 class="notSoStong">Sanction Policy or Statement</h5>
      </div>
      <div class="componentsTableItem">
        <h5>Details:</h5>
        <h5 class="notSoStong">Required to demonstrate managing sanctions which summaries relevant legislative responsibilities. The Supplier’s Sanctions Policy's may be required to document how they comply with UK, EU, US Sanctions (if American company) and UN requirements. If a non-European company then how they comply with their own country's sanctions requirements, including the UN restrictions."</h5>
      </div>
  </div>
</section>
