<section>
  <h4>Relevant to:</h4>
  <h5>The requirement to have a Supply Chain Policy and approach is likely to apply to all suppliers, including those suppliers using third parties to support the provision of goods and/ or services to Banks.
It is recommended that suppliers operating outside the UK  ensure that local Country and Jurisdictional legislation and/or regulatory requirements are adopted in addition to the requirements detailed here.</h5>
</section>
<section>
<h4>Background:</h4>
<h5>
  <p>The requirement for a Supply Chain policy is to assist in managing the risk to a supplier and a bank that may occur as a result of outsourcing services, as well as the risks inherent in dealing with third party suppliers.</p>
  <p>The provision of a policy will help to ensure appropriate education, governance, and escalation is in place to demonstrate effective management of potential risks throughout the supply chain.</p>
  <p>You may be asked to support any audit or assurance activity, including activities by regulatory and competent bodies, as per the contractual agreement and ensure sufficient resource is made available in order to support any reasonable request, if required.</p>
</h5>
</section>

<section>
  <h4>Regulators:</h4>
  <h5>FCA</h5>
</section>

<section>
  <h4>Aligns to the legislation and/ or regulations:</h4>
  <h5>Financial Conduct Authority Handbook: SYSC 8 and SYSC 13.9 And Prudential Regulation Authority: Conditions Governing Business Chapter 7 Outsourcing)</h5>
</section>

<section>
  <h4>Relevant Websites to visit</h4>
  <div class="link">
    <a href="https://www.handbook.fca.org.uk/handbook/SYSC/13/9.html">
      https://www.handbook.fca.org.uk/handbook/SYSC/13/9.html
    </a>
  </div>
</section>



<section>
  <h4>Recommended components required to support your competence:</h4>
  <section class="components">
    <h4>Procedures:</h4>
    <h5>Banks will want to see that there is a relevant an appropriate Record keeping and governance approach where procedures are required.You may be required to be able to demonstrate that your company is set up to record all items listed and ensure appropriate escalation and improvement process is in place</h5>
    <div class="componentsTable">
        <div class="componentsTableItem">
          <h5>Title:</h5>
          <h5 class="notSoStong">Supply Chain management Procedure</h5>
        </div>
        <div class="componentsTableItem">
          <h5>Guidance:</h5>
          <h5 class="notSoStong">Provision (annually) of a List of subcontractors to be updated and maintained. Include:
          Creation and manegement of a list of yout own suppliers including an annual review of sub-contractors and any changes which could impact the bank
          AND Manage the supply chain and mitigate risk in accordance to the following minimum standards by:
            <ul>
              <li>Having an effective and current documented approach to supplier risk management.
              <li>Notifying the Banks of any intention to subcontract any of Bank's work to another party.
              <li>Carrying out due diligence on suppliers /sub-contractors prior to on
              boarding
              <li>Formally segmenting its supply chain based on supplier risk and
              operating a supplier risk management process
              <li>Carry out ongoing supplier assurance
              <li>Undertaking a periodic assessment of subcontractors’ controls, policies
              and procedures Having a clear issues management process together with associated monitoring and reporting
              <li>Monitoring financial activity to ensure financial stability of the supply
              chain.
              <li>Having in place robust contingency, business continuity, and exit plans.
              <li>Undertaking quality assurance on the products and services provided by
              their suppliers /subcontractors which could impact the services provided
              to the banks.
            </ul>
          </h5>
        </div>
    </div>
  </section>
</section>
