<section>
  <h4>Relevant to:</h4>
  <h5>All Suppliers</h5>
</section>
<section>
<h4>Background:</h4>
<h5>
  Banks will want to ensure that’s a minimum, suppliers are reporting concerns about risk, suspected malpractice/wrongdoing within the suppliers firm that has an impact on the bank and/or its customers
</h5>
</section>

<section>
  <h4>Regulators:</h4>
  <h5>FCA</h5>
</section>

<section>
  <h4>Aligns to the legislation and/ or regulations:</h4>
  <h5>
    Public Interest Disclosure Act 1998<br/>
    Financial Conduct Authority Handbook (SYSC) Chapter 18 and Policy Statement 15/24 Whistleblowing in deposit-takers and, PRA-designated investment firms and insurers Regulation.
  </h5>
</section>


<section>
  <h4>Recommended components required to support your competence:</h4>
  <section class="components">
    <h4>Procedures:</h4>
    <!--<h5></h5>-->
    <div class="componentsTable">
        <div class="componentsTableItem">
          <h5>Title:</h5>
          <h5 class="notSoStong">Reporting suspected wrongdoing</h5>
        </div>
        <div class="componentsTableItem">
          <h5>Details:</h5>
          <h5 class="notSoStong">The supplier’s management may be required to encourage workers to Report if they suspect or witness malpractice/wrongdoing, relating to services provided to the Bank, either through annual training or refresher communications.
This may be required to include details of how and where they can report concerns.
          </h5>
        </div>

        <hr/>

        <div class="componentsTableItem">
          <h5>Title:</h5>
          <h5 class="notSoStong">Reporting suspected wrongdoing – new workers</h5>
        </div>
        <div class="componentsTableItem">
          <h5>Details:</h5>
          <h5 class="notSoStong">The supplier may be required to ensure new workers are made aware that if they suspect or witness malpractice/wrongdoing, relating to services provided to the Bank
          </h5>
        </div>

        <hr/>

        <div class="componentsTableItem">
          <h5>Title:</h5>
          <h5 class="notSoStong">All relevant investigations are reported.</h5>
        </div>
        <div class="componentsTableItem">
          <h5>Details:</h5>
          <h5 class="notSoStong">When investigating a Report concern that has an impact on the bank and/or its customers, the supplier may be required to ensure the Bank.
The supplier may be required to ensure that information contained in the investigation report is accurate and up-to-date
          </h5>
        </div>



    </div>
  </section>
</section>
