h4 {
  font-size: 18px;
  width: 50%;
  text-align: right;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 6px;
}

li {
  display: flex;
  flex-direction: row;
  padding: 4px 30px;
}

.date {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: right;
  font-size: 9pt;
  padding-right: 12px;
}

.log-details {
  display: flex;
  flex-direction: column;
  width: 48%;
  font-size: 9pt;
}
