<div class="create-watchlists-modal">
  <div>
    <div class="dialog-header">
      <h1>{{selectedProductIds.length ? 'Copy to new' : 'New watchlist'}}</h1>
      <div *ngIf="selectedProductIds.length" class="text-center mt-1">
        {{selectedProductIds.length}} products selected
      </div>
      <button
        mat-mini-fab
        class="close-button"
        (click)="cancel()"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </div>

    <form [formGroup]="formGroup">
      <div class="dialog-content">
        <div class="form-group">
          <label>Watchlist name:</label>
          <input
            formControlName="name"
            class="custom-input"
            placeholder="Watchlist name"
            [ngClass]="{
              'is-invalid': isFieldInvalid('name') || errMessage,
              'is-filled': f.name.value !== ''
            }"
            (input)="errMessage=''"
          />
          <span *ngIf="errMessage" class="error">
            {{errMessage}}
          </span>
        </div>

      </div>


      <div class="d-flex dialog-actions">
        <button
          mat-raised-button
          class="btn-custom-outline btn-request mr-3"
          (click)="cancel()"
        >
          Back
        </button>
        <button
          mat-raised-button
          class="btn-custom"
          (click)="onSave()"
          [disabled]="!formGroup.valid"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
