@import 'colors.scss';

.clearfix::before, .clearfix::after {
  content: "";
  clear: both;
  display: block;
  height: 2px;
  width: 100%;
  font-size: 10px;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

::ng-deep ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::ng-deep ::-webkit-scrollbar-track {
  background: #CCC;
  border-radius: 10px;
}

/* Handle */
::ng-deep ::-webkit-scrollbar-thumb {
  background: $tp-dark;
  border-radius: 5px;
}

/* Handle on hover */
::ng-deep ::-webkit-scrollbar-thumb:hover {
  background: $tp-dark;
}

::ng-deep .mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element {
  border: 1px solid $tp-orange;
}

div.modal-poc {
  overflow: hidden;
  position: relative;
  font-family: Roboto, serif;

  ::ng-deep .vertical-radio {
    .mat-radio-button {
      display: block;
      margin-left: 0;
    }
  }

  ::ng-deep .mat-select-value-text {
    font-weight: 500;
  }

  .mat-option-text {
    font-size: 11pt;
  }

  ::ng-deep .mat-form-field-infix {
    padding: 3px 0 !important;
    border-radius: 10px !important;
  }

  ::ng-deep .mat-stepper-horizontal {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: auto;
    max-height: 73vh;

  }

  ::ng-deep label {
    margin: 0;
    font-size: 8pt;
    font-weight: 500;
  }

  ::ng-deep mat-form-field {
    margin-bottom: 10px;

    label {
      position: absolute;
      top: -15px;
      font-size: 8pt;
    }
  }

  ::ng-deep mat-radio-button:nth-child(1) {
    margin-left: 0;
    margin-right: 0;
  }

  ::ng-deep mat-radio-button {
    margin-left: 30px;
    margin-right: 0;

    .mat-radio-label-content {
      font-size: 12pt;
    }
  }

  .chexbox-left {
    text-align: left;
    width: 100%;
    display: block;

    .mat-checkbox {
      font-size: 8pt;
    }
  }

  .project-name {
    font-size: 10pt;
  }

  .question {
    position: absolute;
    font-size: 10pt;
  }

  .error {
    padding-left: 12vw;
    padding-right: 12vw;
    max-width: 630px;
    margin: 0 auto;
    text-align: center;
    padding-left: 132px;
    font-size: 10pt;
    color: $tp-orange;
  }

  .container-stepper.progress-bar {
    padding-top: 22%;
  }

  .container-stepper {
    padding-left: 12vw;
    padding-right: 12vw;
    padding-top: 4%;
    max-width: 730px;
    margin: 0 auto;

    .second {
      font-size: 9pt;
      margin: 10px 0;
      font-weight: bold;
      text-align: center;
    }

    .second-not-bold {
      font-weight: normal;
    }

    .text-condition {
      font-size: 11pt;
      text-align: center;
      margin: 15px 0;
    }

    .margin-25 {
      margin-top: -25px;
    }

    .margin-35 {
      margin-top: -35px;
    }
  }

  .welcome-stepper {
    padding-top: 5%;
  }

  .mat-radio-group.line {
    display: block;
    text-align: left;
    width: 100%;
  }

  h1 {
    line-height: 35px;
    margin-top: 48px;
    margin-bottom: 4px;
    font-weight: normal;
    font-size: 42px;
    color: $poc-question;
  }

  h4 {
    margin-top: 25px;
    margin-bottom: 55px;
    font-size: 24px;
    line-height: 30px;
    //text-align:left;
    text-align: center;
    color: $poc-smaller;


  }

  .center {
    text-align: center;
  }

  .small {
    font-size: 16px;
    line-height: 18px;
  }

  .medium-font {
    font-size: 18px;
    line-height: 20px;
  }

  .modal-icon {
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;

    mat-icon {
      color: $poc-icons;
      font-size: 70px;
      width: 70px;
      height: 70px;
      line-height: 70px;
    }
  }

  .price-container {
    margin: 8px 0 8px 0;
  }

  .price-trial {
    font-size: 24pt;
  }
}

.stepper-create-project {
  ::ng-deep .modal-icon mat-icon {
    font-size: 50px !important;
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
  }

  .first.first {
    margin-top: 10px;
    margin-bottom: 10px;

    label {
      font-size: 11pt;
    }
  }

  .mat-radio-group {
    margin-top: 0;
  }

  ::ng-deep mat-radio-button .mat-radio-label-content {
    font-size: 10pt;
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  input {
    font-weight: 500 !important;
  }

  .mat-radio-group.groupe, .groupe {
    margin-top: 25px;
  }

  .only-one {
    margin-top: 80px;
  }

  .chexbox-left + .groupe {
    margin-top: 50px;
  }
}

.stepper-team-contact {
  max-width: 650px !important;

  ::ng-deep .mat-radio-label-content {
    font-size: 8pt;
  }

  label {
    display: block;
    width: 100%;
    text-align: left;
  }

  .email-new-user {
    position: relative;
  }

  .email {
    float: left;
    width: 33%;
    margin-right: 1%;
    height: 30px;
  }

  .email-20 {
    width: 14%;
  }

  .email-add {
    float: left;
    text-align: right;
    width: 6%;

    .mat-icon {
      top: 5px !important;
      position: relative;
    }

    .mat-icon:hover {
      color: $gr-color !important;
      cursor: pointer;
    }
  }

  .choosen-user {
    padding-top: 10px;

    ::ng-deep li {
      text-align: left;
      margin: 14px 0;
      font-size: 14px;
      list-style-type: none;
    }

    .mat-icon {
      cursor: pointer;
      float: right;
      position: relative;
      top: -3px;
      height: 21px;
      width: 21px;
      font-size: 21px;
    }

    .person {
      float: left;
      margin-right: 12px;
    }

    .mat-icon:hover + span, .mat-icon:hover {
      color: $tp-orange;
    }
  }
}

::ng-deep .users-list {
  .user-first, .user-second {
    width: 32%;
    display: inline-block;
  }

  .user-email {
    font-weight: bold;
    display: inline-block;
    width: 32%;
  }
}

input {
  font-weight: 500 !important;
}

.poc-supplier-form {
  margin-top: 15px;
}

.mat-form-field-disabled .autocomplete-icon {
  display: none;
}

.autocomplete-icon {
  position: absolute;
  top: 3px;
  right: 3px;
}

.autocomplete-icon:hover {
  color: $gr-color;
  cursor: pointer;
}

::ng-deep .poc-autocomplete {
  height: 160px;
  margin-top: 10px;
  background-color: #f4f6f8;
  border-radius: 5px;

  .mat-option {
    height: 40px;
  }

  .mat-option:hover, .mat-selected {
    background-color: $gr-color !important;
  }

  .supplier-logo {
    vertical-align: middle;
    margin-right: 20px;
  }

  .supplier-name {
    font-weight: 500;
    width: 35%;
    display: inline-block;
  }

  .supplier-desc {
    font-size: 8pt;
  }
}

//

//Date Picker
::ng-deep .mat-datepicker-content {
  border-radius: 20px !important;
  background-color: #f4f6f8;

  .mat-calendar-header {
    background-color: $gr-color;
    padding: 5px 0;
    color: #FFF;
    border-radius: 20px 20px 0 0;
  }

  .mat-calendar-controls {
    margin: 0;
  }

  .mat-calendar {
    height: auto !important;
  }

  .mat-calendar-table-header-divider {
    display: none;
  }

  .mat-calendar-table-header th {
    color: $gr-color;
    padding: 8px 0 8px 0 !important;
  }

  .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: transparent;
  }

  .mat-calendar-body-today.mat-calendar-body-selected {
    box-shadow: none;
  }

  .mareked-date-class {
    .mat-calendar-body-cell-content {
      color: #FFF;
    }

    div {
      background-color: #90d089;
    }
  }

  .mat-calendar-body-selected {
    background-color: $gr-color !important;
  }
}

//special condition
.stepper-special-conditions, .stepper-additional-conditions {
  .text-condition {
    ::ng-deep .remove {
      color: $tp-orange;
      padding: 0 3px;
      text-decoration: line-through;
    }

    ::ng-deep .add {
      color: $gr-color;
    }

    ::ng-deep .grey {
      color: gray;
    }
  }
}

.free-text {
  margin-top: 8px;

  textarea {
    font-size: 10pt;
    padding: 10px;
    text-align: justify;
    padding-bottom: 36px;
    background-color: #FFF;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid rgba($tp-dark, 0.1);
  }

  .add-condition-text {
    position: relative;
    padding: 3px 0;
    margin-left: 10px;
    margin-top: -32px;
    text-align: center;
    border-top: 1px solid rgba($tp-dark, 0.2);
  }

  .material-icons:hover {
    color: $gr-color;
    cursor: pointer;
  }

  textarea:disabled ~ .add-condition-text {
    .save-icon:hover, .save-icon {
      cursor: initial;
      color: rgba($tp-dark, 0.2);
    }
  }

  .edit-icon {
    float: right;
    margin-top: 2px;
    font-size: 20px;
  }
}

.existing-additional-conditions {
  text-decoration: underline;
  margin: 10px 0;
  cursor: pointer;
}

//How many users
.stepper-how-many-users {
  .number {
    width: 50%;
    max-width: 150px;

    .mat-input-element, .mat-form-field-label {
      font-size: 13pt !important;
      text-align: center;
      top: 17px;
      color: $tp-dark;
    }
  }
}

::ng-deep .timeTrialForm {
  margin-top: 55px;

  .mat-form-field-wrapper {
    text-align: center;
  }

  .mat-form-field-flex {
    max-width: 300px;
  }

  .mat-form-field label {
    width: 100%;
    text-align: center;
    font-weight: normal;
  }

  .mat-icon-button {
    top: 0.75rem;
    left: 1rem;
  }

  .mat-input-element, .mat-form-field-label {
    text-align: center !important;
  }

  .mat-form-field-infix {
    padding: 5px 0 !important;
    border-radius: 15px;
  }

  svg {
    color: $gr-color;
  }
}

.stepper-provided-location {
  .text-condition {
    text-align: left;

  }

  .margin-25 {
    margin-top: -35px;
  }

  li {
    margin-left: 20px;
    display: inline-block;

  }

  .second {
    margin-top: 3px;
  }

  li::before {
    content: "•";
    color: $tp-dark;
    display: inline-block;
    width: 1em;
    margin-left: -1em
  }
}

.stepper-end {
  .text-condition {
    font-size: 12pt !important;
    margin-bottom: 50px !important;
  }

  button {
    border: none;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 15px;
    font-size: 11pt;
    -webkit-appearance: none;
    display: block;
    color: #FFF;
    background-color: $tp-dark;
    margin: 0 auto;
    min-width: 100px;
  }
}

.stepper-test-system {
  ::ng-deep .mat-select {
    margin-top: 30px;
    width: 80%;
  }

  ::ng-deep .mat-select-trigger .mat-select-arrow-wrapper {
    position: relative;
    left: -30px;

  }

  ::ng-deep .mat-select-value {
    height: 30px;
    font-size: 10pt !important;
    font-weight: 100 !important;
    border-radius: 15px;
    padding-left: 30px !important;
    text-align: left;
    background-color: rgba(13, 27, 71, 0.07);
  }

  ::ng-deep .mat-select-placeholder {
    font-size: 10pt !important;
    font-weight: bold;
  }
}

::ng-deep .mat-green {
  background-color: $gr-color;
  color: #fff;
}

.mat-green-icon {
  color: $gr-color;
}

.mat-green-icon:hover {
  color: $tp-orange;
}

.stepper-select-territories {
  form {
    height: 200px;
  }
}

.stepper-data-classification {
  form {
    height: 80px;
  }
}

.stepper-select-territories, .stepper-data-classification {
  ::ng-deep .checkbox {
    float: left;
    width: 120px;
    margin-bottom: 5px;
    text-align: left;
  }

  ::ng-deep .mat-checkbox-label {
    font-size: 9pt;
  }
}

.bottomMenuPoc {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  bottom: 10px;
  width: 40%;
  left: 30%;
  right: 30%;

  .mat-button:hover {
    color: $gr-color;
  }

  .mat-button[disabled]:hover {
    color: rgba(0, 0, 0, 0.26)
  }

  button {
    display: block;
    flex: 1;
  }

  [hidden] {
    display: none !important;
  }

}

.goIn.anim {
  margin-top: 9vh;
  padding: 0 52px 22px 12px;
}

::ng-deep .mat-form-field-label-wrapper {
  left: -1rem !important;
  top: -0.6rem !important;
}
