@import 'colors.scss';

div.modal-login {
  max-height:92%!important;
  position: relative;
  .modal-icon {
      margin-left: -20px;
      margin-top: 12px;
      margin-bottom: 12px;

    mat-icon {
        font-size: 50px!important;
        line-height: 50px!important;
    }
  }
  .errorMessage {
    font-size: 12pt;
    font-weight: 400;
  }
  form {
    margin-top: 22px;
  }
  .form-row {
    width: 100%!important;
    .label {
      width: 25%!important;
      min-width: 25%!important;
    }
    .formItem {
      width: 73%!important;
    }
    .saml-input .mat-checkbox-inner-container .mat-checkbox-background {
        border-radius: 5px;
    }
  }

  .select-company {
    margin: 0 34px 0 20px;
    border-radius: 5px;
    background-color: rgb(232, 240, 254) !important;
    text-align: left;
    height: 29px;
  }

  .select-company.mat-select-empty {
    background: rgba(13, 27, 71, 0.07) !important;
  }

  .forgot {
    margin-top: -1px!important;
    .formItem {
      //margin-top: -5px;
      cursor: pointer;
    }
    span{
      font-size:8pt;
      font-weight:100;
    }
  }
  .form-action{
    margin-top:26px;
    text-align: center;
  }
  .mat-button {
    text-align: center;
    color: white!important;
  }
  .error {
    color: #DD1212;
    font-size: 11pt;
  }
  .message {
    font-size: 12pt;
  }
  .resendButton {
    color: $tp-dark!important;
    margin-left: -20px;
    margin-top: -12px;
    font-size: 8pt;
    mat-icon {
      font-size: 18pt;
    }
  }

  h1.notSoStrong {
    font-size: 18pt!important;
    line-height: 22px!important;
  }

  h2.notSoStrong {
    font-size: 11pt!important;
    line-height: 19px!important;
    margin-top: -10px;
    margin-bottom: 20px;
  }

}

::ng-deep  .formItem .password-remove-padding > div {
    padding-bottom:  0 !important;
}
