.modal-add-member {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .modal-icon {
      margin-left: -20px;
      margin-top: 2px;
      margin-bottom: 2px;
    mat-icon {
        font-size: 70px!important;
        line-height: 70px!important;
    }
  }

  h4 {
    font-size: 11pt;
    font-weight: 100;
    margin-top: 2px;
  }

  .errorMessage {
    font-size: 12pt;
    font-weight: 400;
  }

  .options {
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: 1rem;

    button {
      margin-left: 6px;
      margin-right: 6px;
      min-width: 29%;
    }
  }

  form {
    .form-row {
      .label {
        width: 30%!important;
        min-width: 30%!important
      }
    }
    margin-top: 12px;
  }


}
