<button mat-mini-fab class="closeModal2" (click)="exit()">
   <mat-icon>clear</mat-icon>
</button>
<div class="modal-cont contract-modal" >
  <div class="header"><h2>Guidance on the Supplier Agreement</h2></div>
  <div class="container">
    <div class="content">
      <p><strong>What the contract covers?</strong> The contract is made up of 3 main parts – the signature page, the term sheet, the terms and conditions – together with any other documents referred to. The contract relates to our online contracting platform which enables POC terms to be agreed between technology providers and potential customers. </p>
      <p><strong>The term sheet. </strong> The term sheet contains all of the commercial terms which have been agreed between us. This includes when the contract will start, how long it will continue for and what the charges are. It also provides a description of the platform and what package has been selected. </p>
      <p><strong>Use.</strong> The technology provider and its approved users have the right to use our platform (and all associated services available in their chosen package, together with the documents we make available, such as user manuals) any where in the world. It is important that the technology provider and its users do not change the POC contracts available through our platform.</p>
      <p><strong>Warranties.</strong> The warranties relate to the protection of the customer's data as well as the POC terms, by making sure that they are not made available to third parties or amended. In addition, the warranties relate to the technology provider's services being correctly described, provided in compliance with all applicable legislation and only provided if the technology provider has the appropriate authorisations to do so. Full details of all warranties are set out in clause 7. </p>
      <p><strong>Intellectual Property. </strong> Our name and logo are important to us and should not be used without our consent. We acknowledge that the customer data will belong to the customer but we have the right to use this data to enable us to provide the services. We will retain all intellectual property in our services. </p>

      <p><strong>You must:</strong></p>
      <ul>
        <li>Pay invoices for the charges within 30 days from the date of the invoice </li>
        <li>Reimburse us for all losses that we incur as a result of any claim that is brought against us arising from
          <ul>
            <li>your breach of the warranties you made to us under clause 7; </li>
            <li>with a Data Breach under clause 15; and</li>
            <li>your use of any Services under this Agreement with respect to Intellectual Property under clause 8.</li>
          </ul>
        </li>
      </ul>

      <p><strong>Liability.</strong></p>
      <ul>
        <li>Losses and damages are unrecoverable if they are consequential, indirect, special or punitive even if these losses were known when we made the contract with you.</li>
        <li>Our liability is limited to the greater of £5,000 and 100% of the charges paid or payable by you to us in the calendar year that the loss occurred.</li>
        <li>There is no exclusion or limitation of liability in any way where  it would be unlawful to do so or for death or personal injury, theft, fraud or fraudulent misrepresentation, for claims relating to regulatory breaches, any breach of confidentiality or any liability under clause 8.5 (intellectual property) or clause 7.2 (warranties).</li>
        <li>Neither of us shall be liable for any failure to fulfil obligations caused by an event beyond our reasonable control.</li>
        <li>We have no liability under any POC contract. This is a contract between the technology provider and the customer only. </li>
      </ul>

      <p><strong>We promise each other:</strong> </p>
      <ul>
        <li>To keep confidential all confidential information and not to disclose it to anybody else. </li>
        <li>Only use confidential information where it is necessary to perform obligations under the contract. </li>
        <li>To have confidentiality agreements signed by any persons who is allowed under the contract to know confidential information. </li>
      </ul>

      <p><strong>We may end the contract. </strong></p>
      <ol type="a">
        <li>we no longer want to contract with you (ending the contract without reason); </li>
        <li>you do (or threaten to) transfer your rights to someone else (assign), sell your business, or you part with or cease to carry on your business or give up the part of your business that relates to the use of our software; or</li>
        <li>the control of the technology provider has been transferred.</li>
      </ol>
      <p><strong>…It can also end if either you or us,  </strong></p>
      <ol type="a">
        <li>commits a material or persistent breach of a term of the contract and have not been rectified the breach after 15 days of being notified in writing; or</li>
        <li>enters into an insolvency event.</li>
      </ol>

      <p><strong>What happens when the contract ends? </strong> Termination shall not prejudice any accrued rights or liabilities of either of us. Those clauses which are intended to continue in force will continue.</p>

      <p><strong>We are the Controller and the technology provider is a Processor of Data.</strong> This means…</p>
      <ul>
        <li>You <strong>must:</strong>
          <ul>
            <li>Only process Personal Data in accordance with our instructions and data protection legislation;</li>
            <li>maintain accurate up-to-date written record of processing activities carried out on  Personal Data in a format which meets ours and the data protection legislation requirements; </li>
            <li>provide us, when requested, with this written record of processing activities; </li>
            <li>maintain strict and adequate security, technical and organisational measures in accordance with the relevant data protection legislation;</li>
            <li>maintain the integrity and confidentiality of the Personal Data (through the above measures) to ensure that the Personal Data shall not be recorded, processed, deleted, disclosed, lost damaged, altered, used or otherwise tampered with in an unauthorised, accidental or unlawful manner;</li>
            <li>Notify us if you receive any communication from a Data Subject or Regulator regarding processing Personal Data and provide us with assistance.</li>
            <li>In the event of a data breach follow the procedure outlined in clause 15.2</li>
          </ul>
        </li>
        <li>You <strong>must not</strong>, without out written consent:
          <ul>
            <li>transfer Personal Data;</li>
            <li>transfer or process Personal Data outside the Designated Location set out in the Schedule;</li>
            <li>allow any other party to process any Personal Data. </li>
          </ul>
        </li>
      </ul>

      <p><strong>Anti Bribery.</strong> We shall both comply with anti bribery legislation.</p>
      <p><strong>You need our consent to transfer your rights or obligations to someone else.</strong> You may only transfer your rights and obligations under the contract to another person if we agree to this in writing. This also applies to us if we want to transfer our rights and obligations to someone else.</p>
      <p><strong>Nobody else has any rights under this contract.</strong> This contract is between Techpassport, the technology provider and the customer. No other person shall have any rights to enforce any of its terms.</p>
      <p><strong>Neither of us are responsible for delays outside our control.</strong> If either you or us are delayed in performing or fail to perform our respective obligations due to an event outside our control, neither of us will be liable.</p>
      <p><strong>Need to change something in the contract?</strong> This can only be done with prior written agreement between Techpassport, the technology provider and the customer.</p>
      <p><strong>Were things said, written, agreed upon or represented prior to this contract coming into force?</strong> If so, they cannot be relied on as only the contract and all documents referred to in the contract can be relied on. </p>
      <p><strong>Inconsistency between the Term Sheet and the Terms and Conditions?</strong> The Terms and Conditions prevail.</p>
      <p><strong>Laws of England</strong> shall govern this agreement and we shall both submit to the jurisdiction of the courts of England.</p>
      <p><strong>NB. This is a guidance note only and does not contain all of the terms of the contract. You are advised to read the contract in full and take legal advice, where appropriate. </strong> </p>

    </div>
  </div>
</div>
