:host {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.snckbar  {
  max-width: 90% !important;
  margin-left: auto !important; // center align from left
  margin-right: auto !important; // center align from right
  margin-bottom: 1rem !important; 
  padding: 10px !important; // spacing between the text and boundary
  background-color: green;
  color: white;

  .mat-button-wrapper {
      color: black !important; // action text color
  }
}