<div class="d-flex justify-between">
  <div class="d-flex">
    <div class="search-box">
      <div class="search-container">
        <mat-icon svgIcon="search" class="search-icon"></mat-icon>
        <input
          placeholder="Search products or suppliers..."
          class="search-input"
          [value]="filterDetail.search"
          (input)="onChangeSearchTerm($event)"
        />
      </div>
    </div>

    <div class="ml-2">
      <button
        mat-flat-button
        class="filter-btn"
        [matBadge]="filters.length ? filters.length : ''"
        [matBadgeHidden]="false"
        (click)="onOpenFilter()"
      >
        <div class="d-flex items-center">
          <mat-icon svgIcon="filter" class="mr-2"></mat-icon>
          <span class="label">Filter</span>
        </div>
      </button>
    </div>

    <div
      class="d-flex items-center link ml-2"
      *ngIf="tab == 'all-products'"
      (click)="onChangeTab('new-products')"
    >
      Show new products
    </div>
    <div
      class="d-flex items-center link ml-2"
      *ngIf="tab == 'new-products'"
      (click)="onChangeTab('all-products')"
    >
      Show all products
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex items-center show-label">
      Showing ({{ pagination.dataCount || 0 }} of {{ pagination.total || 0 }})
    </div>

    <div>
      <button mat-flat-button class="sort-btn" [matMenuTriggerFor]="menu">
        <div class="d-flex items-center">
          <mat-icon svgIcon="menu"></mat-icon>
          <span class="label ml-2">{{ sortByLabel }}</span>
          <mat-icon class="arrow">expand_more</mat-icon>
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onChangeSortBy('topRated')">
          Top rated
        </button>
        <button mat-menu-item (click)="onChangeSortBy('newest')">Newest</button>
        <!-- <button mat-menu-item (click)="onChangeSortBy('oldest')">Oldest</button> -->
        <button mat-menu-item (click)="onChangeSortBy('alphabetic')">
          A - Z
        </button>
      </mat-menu>
    </div>
  </div>
</div>
<div class="d-flex justify-between mt-5 filter-content">
  <div class="d-flex items-start filters mr-3">
    <div class="mr-3">
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let filter of filters"
          [removable]="true"
          (removed)="(false)"
        >
          <div>{{ filter.title }}</div>
          <mat-icon
            matChipRemove
            svgIcon="close"
            (click)="onRemoveFilter(filter)"
          ></mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div *ngIf="filters.length" class="link" (click)="clearFilter()">
      Clear filters ({{ filters.length }})
    </div>
  </div>
  <div
    *ngIf="totalCount && selectedCount === 0 && tab === 'all-products'"
    class="link"
    (click)="selectAll()"
  >
    Select all ({{ totalCount }})
  </div>
  <div
    *ngIf="selectedCount && tab === 'all-products'"
    class="link"
    (click)="clearAll()"
  >
    Clear selection ({{ selectedCount }})
  </div>
</div>
