<div class="helpBubble">
  <span><mat-icon>question_mark</mat-icon> More details</span>

  <h4>What are Enterprise Ready Questions?</h4>

  The Enterprise Ready Questions (ERQs) are a set of onboarding questions to the TechPassport
  platform that have been created in collaboration with 15 of the largest global banks.
  They are a subset of the full onboarding questions and have been identified as the “Must Haves”
  by all the banks involved in our Think Tank. This set of standardised questions can be used
  by both FinTechs and Financial Institutions to quickly and efficiently assess the readiness of
  both parties for collaboration, saving time and money.

  <h4>Getting started</h4>

  By answering the ERQs, you will be awarded a unique Enterprise Ready score which can be viewed
  by Financial Institutions on the marketplace. The higher the Enterprise Ready score, the more
  likely you are to be seen as ‘Enterprise Ready’ by Financial Institutions when showcasing your
  solutions.
</div>
