<ng-container *ngIf="page == 'profile'">
  <profile-settings></profile-settings>
</ng-container>
<ng-container *ngIf="page == 'product-list'">
  <product-list></product-list>
</ng-container>
<ng-container *ngIf="page == 'product-new'">
  <product-settings></product-settings>
</ng-container>
<ng-container *ngIf="page == 'product-edit'">
  <product-settings></product-settings>
</ng-container>
<ng-container *ngIf="page == 'profile-start'">
  <onboarding-startup></onboarding-startup>
</ng-container>
